.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main > * {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
