.tableHeader {
	display: flex;
	flex-direction: row;
	padding: 0 0.5rem;
	width: 100%;
	gap: 2.5rem;
}

.tableEntry {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.tableWrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
}
