.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.main > * {
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.btnGrp{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: 1em;
}

@media (max-width: 768px) {
	.btnGrp{
		flex-direction: column;
	}
}