.headLine {
	display: flex;
	justify-content: center;
	text-align: center;

	background: linear-gradient(
		138deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 244, 84, 1) 13%,
		rgba(255, 242, 1, 1) 36%,
		rgba(255, 246, 124, 1) 55%,
		rgba(255, 246, 114, 1) 71%,
		rgba(255, 242, 16, 1) 89%
	);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.txt {
	width: fit-content;
	font-size: small;
}

.cardA {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2em;
	margin-inline: auto;
}

.cardB {
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	gap: 2em;
	align-items: center;
	width: fit-content;
}

.title {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1em;
}
.titleB {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.subTxt {
	padding-inline: 8em;
	text-align: center;
}

.subTxtB {
	font-size: 1.5rem;
	padding-inline: 8em;
	text-align: center;
}

.cardGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 3em;
	padding: 4em;
}
