/*TODO grid with 5 cols: 
- first col === 2 cols
- 2nd col === 1 col
-3rd col === 2 cols*/

.tableHeader {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 2fr;
	width: 100%;
	padding: 0 1.5rem;
	gap: 2.5rem;
	width: 100%;
	text-align: center;
}

.tableEntry {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 2fr;
	width: 100%;
	justify-content: space-around;
	padding: 0 1rem;
	text-align: center;
}

.tableEntry > div:nth-child(1),
.tableHeader > div:nth-child(1) {
	text-align: left;
}
