.divCont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white !important;
}

.longg {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.txt {
	font-size: 2rem;
	font-weight: 600;
	padding-top: 0.1em;
}

.divider {
	width: 30em;
	height: 0.5em;
	background-color: white;
	margin-inline: 1em;
}
