.mainNav {
  margin: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  border-radius: 0.5em;
}

.mainNavSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  color: white;
}

.sideItems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.avatarButton {
  cursor: pointer;
}
